extends base

block content
    body
        p= data.newCar.marque
        p= data.newCar.model
        p= data.newCar.carburant
        p= data.newCar.porte
        p= data.newCar.place
        p= data.newCar.boite
        p= data.newCar.type
        p= data.newCar.price
        p= data.newCar.climat