extends base

block append footer
    script(src="/../js/edit.js")

block content
    include _header

    - var messages = getMessages()
    if (messages.message)
        section.text-center.fixed-top.w-max-0.mx-auto.text-white
            .alert.bg-danger.alert-dismissible.fade.show.rounded-0(role="alert")
                i.fas.fa-times-circle
                span.ml-2.my-auto= messages.message
                button.close(type="button" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;

    .container
        .row.my-3
            .col-lg-3.col-md-3
                include _btqban

            .col-lg-9.col-md-9
                .mb-2.bg-white.p-3.w-100.mx-auto.shadow-sm
                    form(action=`/mon-agence/${user._id}/editer/${carEdit._id}` method="POST" enctype='multipart/form-data')
                        .row
                            .col-lg-4.col-md-4
                                .form-group
                                    select.custom-select.rounded-0.form-control(name="marque" id="marque" data-marque=`${carEdit.marque.id}`)
                                        option(value="" selected disabled) Marque du véhicule
                                        each brand in brands
                                            if (brand.fr === carEdit.marque.fr)
                                                option(value=`${JSON.stringify(brand)}` selected)= brand.fr
                                            else
                                                option(value=`${JSON.stringify(brand)}`)= brand.fr
                            .col-lg-4.col-md-4
                                .form-group
                                    select.custom-select.rounded-0.form-control(name="model" id="model" data-model=`${JSON.stringify(carEdit.model.fr)}`)
                                        option(value="" selected disabled) Le modèle de voiture
                            .col-lg-4.col-md-4
                                .form-group
                                    input.d-none(type="text", id="type" name="type" value=`${carEdit.type}`)
                                    .dropdown
                                        .custom-select.rounded-0.form-control(id="car-types" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")=carEdit.type
                                        .dropdown-menu.rounded-0(aria-labelledby="car-types")
                                            each item in types
                                                .p-2.border-bottom.car-type
                                                    img.mr-1(src=`/../graphics/${item.type}.png`, alt=`${item.type}` width="50px")
                                                    span= item.type
                            .col-lg-6.col-md-6
                                .form-group
                                    select.custom-select.rounded-0.form-control(id="carburant" name="carburant")
                                        option(value="" selected disabled) Type de carburant
                                        each item in carburant
                                            if (item.fr === carEdit.carburant.fr)
                                                option(value=`${JSON.stringify(item)}` selected)= item.fr
                                            else
                                                option(value=`${JSON.stringify(item)}`)= item.fr
                            .col-lg-3.col-md-3
                                .form-group
                                    select.custom-select.rounded-0.form-control(id="porte" name="porte")
                                        option(value=0 selected disabled) Nombre de portes
                                        if (carEdit.porte === 3)
                                            option(value=3 selected) 3
                                            option(value=5) 5
                                        if (carEdit.porte === 5)
                                            option(value=3) 3
                                            option(value=5 selected) 5
                            .col-lg-3.col-md-3
                                .form-group
                                    select.custom-select.rounded-0.form-control(id="place" name="place")
                                        option(value=0 selected disabled) Nombre de places
                                        -for(var i = 2; i <= 8; i++) 
                                            if (i != 3 && i != 8)
                                                if (carEdit.place === i)
                                                    option(value=i selected)= i
                                                else
                                                    option(value=i)= i
                                            if (i === 8)
                                                if (carEdit.place === i)
                                                    option(value=i selected) 7+
                                                else
                                                    option(value=i) 7+
                            .col-lg-6.col-md-6
                                .form-group
                                    select.custom-select.rounded-0.form-control(id="boite" name="boite")
                                        option(value="" selected disabled) Boîte de vitesse
                                        each item in boites
                                            if (item.fr === carEdit.boite.fr)
                                                option(value=`${JSON.stringify(item)}` selected)= item.fr
                                            else
                                                option(value=`${JSON.stringify(item)}`)= item.fr
                            .col-lg-6.col-md-6
                                .form-group
                                    select.custom-select.rounded-0.form-control(id="climat" name="climat")
                                        option(value="" selected disabled) Climatisation
                                        each item in boites
                                            if (item.fr === carEdit.climat.fr)
                                                option(value=`${JSON.stringify(item)}` selected)= item.fr
                                            else
                                                option(value=`${JSON.stringify(item)}`)= item.fr
                            .col-lg-6.col-md-6
                                .row
                                    .col-lg-6.col-md-6
                                        .form-group
                                            input.form-control.rounded-0(type="text" id="price" name="price" value=`${carEdit.price}` placeholder="Enter le prix par jour en Dh")
                                    .col-lg-3.col-md-3
                                        .form-group
                                            select.custom-select.rounded-0.form-control(id="priceDiscount" name="remise")
                                                option(value="" selected disabled) Remise
                                                -for(var i = 0; i <= 100; i++)
                                                    if carEdit.remise === i
                                                        option(value=`${i}` selected)= `${i}%`
                                                    else
                                                        option(value=`${i}`)= `${i}%`
                                    .col-lg-3.col-md-3
                                        .grid-4
                                            if (carEdit.remise && carEdit.remise > 0)
                                                span#new-price= `${parseInt(carEdit.price - (carEdit.price * (carEdit.remise / 100)))}  Dhs`
                                                del#old-price.text-secondary.fn-12= `${carEdit.price} Dhs`
                                            else
                                                span#new-price=carEdit.price
                                                del#old-price.text-secondary.fn-12(style="display:none") 0 Dh
                            .col-lg-6.col-md-6
                                .form-group
                                    .input-group
                                        .input-group-prepend
                                            button.btn.btn-warning.rounded-0(type="button" id="button-addon1")
                                                i.fas.fa-camera
                                        .custom-file
                                            input.custom-file-input(type="file" id="addPics" name="carpic" multiple value=`${carEdit.photo}`)
                                            input.d-none(type="text" name="photo" value=`${carEdit.photo}`)
                                            label.custom-file-label.rounded-0(for="addPics" data-browse="Photos") ajouter
                            .col-12
                                .form-group(id="preview-pics")
                                    .btn.btn-danger.mb-2.rounded-0(id="remove")
                                        i.fas.fa-times
                                    .border.p-2(id="preview-content")
                                        each photo in carEdit.photo
                                            .w-100.my-2.p-2.border.border-success
                                                img.w-25(src=`/../graphics/cars/${photo}`)
                            .col-12
                                button.btn.btn-primary.rounded-0.mr-2(type="submit" id="add-car") Éditer

    .text-center.fixed-bottom.mb-3#copy
        small.text-muted &copy; 2020 Kauto.ma
