extends base

block append footer
    script(src="/../js/resultat.js")

block content
    include _header
    .progress.fixed-top(style="height: 3px; display:none")
        .progress-bar(role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")

    nav.nav.container.mt-3
        .mr-auto
        form(action="/cherche", method="post").float-right.shadow-sm.w-3
            .input-group
                input.form-control.rounded-0.form-control-sm.border-0(type="text" placeholder="Chercher" name="chercher" aria-label="Recipient's username" aria-describedby="searching")
                .input-group-append
                    button.btn.btn-sm.list-group-item-primary.rounded-0(id="searching" type="submit")
                        i.fas.fa-search
    .container
        .row.mt-3
            .col-lg-3.col-md-3
                form(action="/res", method="post" id="filtr")
                    .input-group
                        .input-group-prepend.w-100
                            .btn-sm.shadow-sm.mb-1.list-group-item-warning
                                i.fas.fa-search
                            .btn-sm.rounded-0.w-100.shadow-sm.mb-1.bg-white
                                span.text-primary.font-weight-bold.mr-1(id="resultat")=`${cars.length}`
                                span résultats trouvés

                    .filter.btn-sm.rounded-0.w-100.shadow-sm.mb-1.bg-white(data-toggle="collapse" data-target="#price-range" aria-expanded="false" aria-controls="price-range")
                        span prix
                        span.float-right.text-warning(id="has-price-range")
                            i.fas.fa-plus-circle
                    .collapse(id="price-range")
                        .card.rounded-0.p-2.mb-1.border-0.shadow-sm
                            .row
                                .col-6
                                    label(for="min") min :
                                    input.form-control.mt-2.form-control-sm.rounded-0(type="number" min="0" name="min" id="min" value=global.min)
                                .col-6
                                    label(for="max") max :
                                    input.form-control.mt-2.form-control-sm.rounded-0(type="number" min="0" name="max" id="max" value=global.max)
                    if (mrq)
                        .filter.btn-sm.rounded-0.w-100.shadow-sm.mb-1.bg-white(data-toggle="collapse" data-target="#brand" aria-expanded="false" aria-controls="brand")
                            span marque
                            span.float-right.text-warning(id="has-brand")
                                i.fas.fa-plus-circle
                        .collapse(id="brand")
                            .card.rounded-0.p-2.mb-1.border-0.shadow-sm.scrl-v.h-0
                                each item in brands
                                    .custom-control.custom-checkbox
                                        if (global.marque.includes(item.fr))
                                            input.custom-control-input(type="checkbox" id=item.fr name=`marque-${item.fr}` checked=true)
                                        else
                                            input.custom-control-input(type="checkbox" id=item.fr name=`marque-${item.fr}`)

                                        label.custom-control-label(for=item.fr)=item.fr

                    .filter.btn-sm.rounded-0.w-100.shadow-sm.mb-1.bg-white(data-toggle="collapse" data-target="#carburant" aria-expanded="false" aria-controls="carburant")
                        span carburant
                        span.float-right.text-warning(id="has-carburant")
                            i.fas.fa-plus-circle
                    .collapse(id="carburant")
                        .card.rounded-0.p-2.mb-1.border-0.shadow-sm
                            each item in carburant
                                .custom-control.custom-checkbox
                                    if (global.carburant.includes(item.fr))
                                        input.custom-control-input(type="checkbox" id=item.fr name=`carburant-${item.fr}` checked=true)
                                    else
                                        input.custom-control-input(type="checkbox" id=item.fr name=`carburant-${item.fr}`)
                                    label.custom-control-label(for=item.fr)=item.fr

                    .filter.btn-sm.rounded-0.w-100.shadow-sm.mb-1.bg-white(data-toggle="collapse" data-target="#boite" aria-expanded="false" aria-controls="boite")
                        span boite de vitesse
                        span.float-right.text-warning(id="has-boite")
                            i.fas.fa-plus-circle
                    .collapse(id="boite")
                        .card.rounded-0.p-2.mb-1.border-0.shadow-sm
                            each item in boites
                                .custom-control.custom-checkbox
                                    if (global.boite.includes(item.fr))
                                        input.custom-control-input(type="checkbox" name=`boite-${item.fr}` id=item.fr checked=true)
                                    else
                                        input.custom-control-input(type="checkbox" name=`boite-${item.fr}` id=item.fr)
                                    label.custom-control-label(for=item.fr)=item.fr

                    .filter.btn-sm.rounded-0.w-100.shadow-sm.mb-1.bg-white(data-toggle="collapse" data-target="#climatisation" aria-expanded="false" aria-controls="climatisation")
                        span climatisation
                        span.float-right.text-warning(id="has-climat")
                            i.fas.fa-plus-circle
                    .collapse(id="climatisation")
                        .card.rounded-0.p-2.mb-1.border-0.shadow-sm
                            each item in boites
                                .custom-control.custom-checkbox
                                    if (global.climat.includes(item.fr))
                                        input.custom-control-input(type="checkbox" id=`c${item.fr}` name=`climat-${item.fr}` checked=true)
                                    else
                                        input.custom-control-input(type="checkbox" id=`c${item.fr}` name=`climat-${item.fr}`)
                                    label.custom-control-label(for=`c${item.fr}`)=item.fr

                    .filter.btn-sm.rounded-0.w-100.shadow-sm.mb-1.bg-white(data-toggle="collapse" data-target="#type" aria-expanded="false" aria-controls="type")
                        span type
                        span.float-right.text-warning(id="has-type")
                            i.fas.fa-plus-circle
                    .collapse(id="type")
                        .card.rounded-0.p-2.mb-1.border-0.shadow-sm
                            each item in types
                                .custom-control.custom-checkbox
                                    if (global.type.includes(item.fr))
                                        input.custom-control-input(type="checkbox" id=`${item.type}` name=`type-${item.type}` checked=true)
                                    else
                                        input.custom-control-input(type="checkbox" id=`${item.type}` name=`type-${item.type}`)
                                    label.custom-control-label(for=`${item.type}`)=item.type
                                    img.float-right(src=`/../graphics/${item.type}.png`,width="60px")
                                    
                    button.btn.btn-sm.rounded-0.btn-primary.w-100.shadow-sm(type="submit" form="filtr") appliquer
                    
                hr.my-3

                .filter.btn-sm.rounded-0.w-100.shadow-sm.mb-1.list-group-item-secondary(data-toggle="collapse" data-target="#new-search" aria-expanded="false" aria-controls="new-search")
                    span nouvelle recherche
                    span.float-right(id="has-new-search")
                        i.fas.fa-sync
                .collapse(id="new-search")
                    .card.rounded-0.p-2.mb-1.border-0.shadow-sm
                        form(action="/" method="post" id="research")
                            select.rounded-0.custom-select.custom-select-sm.border-0(id="ville" type="text" name="ville")
                                option(value="all") Toutes les villes
                                each city in cities
                                    option(value=`${JSON.stringify(city)}`)= `${city.fr}`
    
                            select.rounded-0.custom-select.custom-select-sm.border-left-0.border-right-0(id="secteur" type="text" name="secteur")
                                option(value="all") Tous les secteurs
                            
                            select.rounded-0.custom-select.custom-select-sm.border-right-0.border-left-0.border-top-0(id="brands" type="text" name="marque")
                                option(value="all") Toutes les marques
                                each brand in brands
                                    option(value=`${JSON.stringify(brand)}`)= `${brand.fr}`
                            
                            select.rounded-0.custom-select.custom-select-sm.border-0(id="modele" type="text" name="modele")
                                option(value="all") Tous les modèles
                            .text-center.mt-2
                                button.btn.btn-warning.rounded-0.btn-sm(type="submit" form="research") Recherche
                                    
            .col-lg-9.col-md-9
                .row
                    .col-12.mb-1.form-inline
                        span.my-auto.fn-13 Trier par :
                        .d-inline
                            form(action="/trier", method="post")
                                .input-group.sorting.ml-1
                                    .bg-white.shadow-sm.rounded-0.btn-sm Prix
                                    .input-group-append
                                        if (global.sort && global.sort[0] === "price")
                                            button.btn.btn-sm.list-group-item-success.rounded-0(id="sort-Prix" type="submit" name="price" value=-1)
                                                i.fas.fa-sort
                                        else
                                            button.btn.btn-sm.list-group-item-dark.rounded-0(id="sort-Prix" type="submit" name="price" value=1)
                                                i.fas.fa-sort
                        .d-inline
                            form(action="/trier", method="post")
                                .input-group.mx-2.sorting
                                    .bg-white.shadow-sm.rounded-0.btn-sm Porte
                                    .input-group-append
                                        if (global.sort && global.sort[0] === "porte")
                                            button.btn.btn-sm.list-group-item-success.rounded-0(id="sort-Porte" type="submit" name="porte" value=-1)
                                                i.fas.fa-sort
                                        else
                                            button.btn.btn-sm.list-group-item-dark.rounded-0(id="sort-Porte" type="submit" name="porte" value=1)
                                                i.fas.fa-sort
                        .d-inline
                            form(action="/trier", method="post")
                                .input-group.sorting
                                    .bg-white.shadow-sm.rounded-0.btn-sm Place
                                    .input-group-append
                                        if (global.sort && global.sort[0] === "place")
                                            button.btn.btn-sm.list-group-item-success.rounded-0(id="sort-Place" type="submit" name="place" value=-1)
                                                i.fas.fa-sort
                                        else
                                            button.btn.btn-sm.list-group-item-dark.rounded-0(id="sort-Place" type="submit" name="place" value=1)
                                                i.fas.fa-sort
                    if (global.chercher)
                        .col-12.text-secondary.fn-13.mb-1= `résultat pour "${global.chercher.split("-").join(" ")}"`
                    .col-12.bg-white.px-3.pt-3.shadow-sm
                        if (cars.length)
                            .row(id="car-Sorting")
                                each car in cars
                                    .col-lg-4.col-md-6.mb-3.the-car(id=`c${car._id}`)            
                                        include _cars2

                        else
                            .text-center.pb-3
                                img(src="/../graphics/no-res.png", alt="zero favorits" width="80px")
                                br
                                span.fn-18 Aucun résultat pour cette demande
                                p.mt-2.text-secondary Vous pouvez trouver plus de résultat, cliquez ci-dessous
                                button.btn.btn-warning.rounded-0.shadow(data-toggle="collapse" data-target="#new-search" aria-expanded="false" aria-controls="new-search") Nouvelle recherche
            include _recommende
    #footer
        include _footer 
