extends base

mixin prop(image, text)
    div
        i.fas(class=`fa-${image}`)
        span.spn= text

block append header
  link(rel="stylesheet" href="../css/index.css")

block append footer
    script(src="../js/index.js")

block content
    body.body-mdf
        div
            section.container
                nav.navbar.navbar-expand-lg.navbar-light.bg
                    a.navbar-brand(href="/")
                        img(src="../graphics/LOGO-UPDATE001.png" width="80px" alt="Koto")
                    button.navbar-toggler(type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent")
                        span.navbar-toggler-icon
                    .collapse.navbar-collapse#navbarSupportedContent
                        ul.navbar-nav.mr-auto
                            li.nav-item.active
                                a.nav-link(href="/") Accueil
                            li.nav-item
                                a.nav-link.active(href="/creer-boutique") Boutique
                                    img.store-icon(src="../graphics/store-icon.png" alt="boutiqueIcon")
                        if !(data.gues)
                            a(href="/se-connecter")
                                button.btn.btn-primary(style="margin-right: 10px" type="seConnecter") Se connecter
                            a(href="/inscrire")
                                button.btn.btn-outline-primary(style="margin-right: 10px" type="seConnecter") S'inscrire
            section
                .header-background
                    h2.head-title My 1st website
                    .container.nvbr-mdf
                        form(action="/" method="post")
                            .row.rw-mdf
                                select.col.cl-mdf(id="ville")
                                    each city in data.cities
                                        option(value=`${city.type}`)= `${city.type}`
                                select.col.cl-mdf(id="brand")
                                    each brand in data.brands
                                            option(value=`${brand.type}`)= `${brand.type}`
                                select.col.cl-mdf(id="type")
                                    each types in data.types
                                            option(value=`${types.type}`)= `${types.type}`
                            .row.rw-mdf
                                button.btn.btn-warning.submit-srch Recherche
                                    i.fas.fa-search

            section
                .container.ad-ban
                    .row
                        each i in [1, 1, 1]
                            .col-lg-4.col-md-6.col-sm-12
                                .card(style="width: 19.5rem;")
                                    img.card-img-top(src="../graphics/test.jpg")
                                    .fff
                                        i.far.fa-heart
                                    .card-body
                                        h5.card-title KAROQ
                                            | 
                                            |-
                                            | 
                                            span Skoda 
                                        .propety
                                            each prp in data.propeties
                                                +prop(prp.image, prp.text)
                                    .card-footer
                                        .owner
                                            span.prix 888 DH 
                                                span.dh par jour
                                            a(href="/ma-boutique")
                                                img.store.rounded(src="../graphics/test-logo.png" alt="image") 
                                        button.btn.btn-info ldldll